@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="welcome-message">
  <div class="container">
  <h1 style="margin-top:330px; padding: 20px; background: rgba(0, 0, 0, 0.7); color: white;">Matematyka TO ZABAWA</h1>
  <h2>Maciej Rosłaniec :)</h2>
  </div>
</div>